<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Jobs analysis report">
    <meta name="author" content="jamie">

    <title>Jobs analysis report -- {{ date }}</title>

    <link href="/assets/metricsgraphics.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/d3.min.js"></script>
    <script src="/assets/metricsgraphics.min.js"></script>
    <script src="script.js"></script>

  </head>

  <body>
    <div class="container">

      <h1>Jobs Analysis</h1>
      <p class="lead">How have <strong>{{ job_type }}</strong> jobs changed with time?</p>
      <div class="alert {{ alert_level }}" role="alert">
          <strong>Confidence</strong>:
              <strong>{{ confidence }}</strong>
              [{{ score_value }}, {{ score_type }}]
              <em>{{ confidence_text }}</em>
    </div>
      <div class="row">
        <div class="col-md-6" id="njobsyear"></div>
        <div class="col-md-6" id="propjobsyear"></div>
      </div>
      <div class="row">
        <div class="col-md-6" id="njobsmonth"></div>
        <div class="col-md-6" id="propjobsmonth"></div>
      </div>
      <div class="row">
        <div class="col-md-6" id="meansalary"></div>
        <div class="col-md-6" id="njobsmatch"></div>
      </div>
    </div> <!-- /container -->
  </body>
</html>

